img {
  max-width: 140px;
  border-radius: 50%;
}
.profileicon{
  font-size: 25px;
}
.profh{
  font-size:15px;
  padding-bottom:2.2%;
  padding-right:0px;
}
.avatarr{
  display: block;
  margin: auto;
  margign-top:28px;
}

.itm{
      direction: rtl;
}

