.support-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.support-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}
.hlp{
  display: block;
  margin: auto;
  margign-top:auto;
  font-size: 30px;
}
.tlt{
  direction: rtl;
  font-size: 15px;
}
.hlpicon{
  font-size: 25px;
}
.txta{
  direction: rtl;
}
.chipa{
  display: block;
  margin: auto;
  margin-top: 75%;
}
.label{
  margin-right:50%;
  font-size: 20px;
    margin-right:10%;
}
.chiplabel{
    font-size: 20px;
}